* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.app .section {
  width: 100%;
  padding: 16px;
  min-width: 300px;
  max-width: 500px;
}

.app h1 {
  width: 100%; /* Make the header take the full width */
  text-align: center; /* Center the text within the header */
}
